/*
--------------------------------------------------
        Tema: Azul "Glaucous"
    --cor-base: rgba(100,122,163,1);
        Cores análogas:
    --cor-analoga-a: rgba(44,59,87,1);
    --cor-analoga-b: rgba(170,195,240,1);
        Cores complementares (contraste):
    --cor-contraste-a: rgba(87,71,36,1);
    --cor-contraste-b: rgba(163,143,100,1);
--------------------------------------------------
        Tema: Cinza "Light State Gray"
    --cor-base: rgba(125,150,170,1);
        Cores análogas:
    --cor-analoga-a: rgba(60,79,94,1);
    --cor-analoga-b: rgba(208,230,247,1);
        Cores complementares (contraste):
    --cor-contraste-a: rgba(94,77,51,1);
    --cor-contraste-b: rgba(171,153,126,1);
--------------------------------------------------
        Tema: Cinza "Space Cadet"
    --cor-base: rgba(43,45,66,1);
        Cores análogas:
    --cor-analoga-a: rgba(79,84,143,1);
    --cor-analoga-b: rgba(107,110,143,1);
        Cores complementares (contraste):
    --cor-contraste-a: rgba(143,126,64,1);
    --cor-contraste-b: rgba(66,61,43,1);
--------------------------------------------------
*/
@charset "UTF-8";

:root {
    --cor-base: rgba(100,122,163,1);
    --cor-analoga-a: rgba(44,59,87,1);
    --cor-analoga-b: rgba(170,195,240,1);
    --cor-contraste-a: rgba(87,71,36,1);
    --cor-contraste-b: rgba(163,143,100,1);
    --font-sans-serif: Tahoma, Arial, sans-serif;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding: 0;
}
body {
    margin-top: 3px;
    margin-left: 5px;
    background-color: var(--cor-base);
    /* texto */
    font-family: var(--font-sans-serif);
    color: var(--cor-analoga-b);
    font-size: 1em;
    margin: 0.1rem;
}
h1 {
    font-family: var(--font-serif);
    color: var(--cor-analoga-a);
    text-align: center;
    font-size: 2.5em;
    padding: 1rem;
}
h2 {
    padding: 5rem;
}
p {
    text-align: justify;
}
/*  LINKS   */
a {
    color: var(--cor-analoga-b);
    text-decoration: none;
}
a:hover {
    color: var(--cor-contraste-b);
    text-decoration: overline underline;
    font-weight: bold;
}
a:active {
    color: var(--cor-contraste-a);
    font-weight: bolder;
}
    /*  CABEÇALHO   */
header {
    position: sticky;
    top: 0;
    display: inline-flex;
    width: 100%;
    background-color: lightslategray;
}
nav {
    position: absolute;
    height: 1rem;
    right: 0px;
    padding: 0.7rem;
    font-size: 0.75em;
}
.iconecabeca {
    width: 3rem; 
    height: 3rem;
    margin: -0.1rem 0rem 0rem 0.2rem;
}
.titulo {
    height: 1rem;
    width: 11rem;
    text-align: center;
    padding: 1rem;
    font-family: var(--font-serif);
    color: var(--cor-analoga-a);
    font-weight: 700;
    font-size: 0.75em;
}
/*  CONTEÚDO    */
.sobre {
    display: none;
}
.post {
    display: none;
}
.projeto {
    display: none;
}
.contato {
    display: none;
}
/* FOOTER */
footer {
    position: sticky;
    bottom: 0;
    background-color: lightslategray;
    width: 98%;
    padding: 0.75rem;
    font-family: var(--font-serif);
    text-align: center;
}